<div class="panel panel-default">
    <div class="panel-body">
        
        <!-- Photo principale de l'annonce -->
        <div class="row">
            <div class="col-md-12">
                <%= image_tag @photos.image.url(), class:"img-responsive" if @photos.length > 0 %>
            </div>
        </div>
        
        <br>
        
        <!-- Informations principales -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <%= image_tag avatar_url(@annonce.user), class:"img-circle avatar-large" %>
                        <br>
                        <br>
                        <%= @annonce.user.fullname %>
                    </div>
                   
                    </div>
                </div>
            </div>
              
        
        <!-- Description -->
        <div class="row">
            <div class="col-md-12">
                <h2>A propos de cette annonce</h2>
                <p><%= @annonce.description %></p>
            </div>
        </div>
        
       
        
    </div>
</div>